<!DOCTYPE html>
<html>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

</style>

<body>
    <h2>Customer Data</h2>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Customer PAN</th>
            <th>Organization</th>
            <th>Contact</th>
            <th>Uploaded Date</th>
            <th>Status</th>
            <th>Uploaded Documents</th>
        </tr>
        {% for i in customerData %}
        <tr>
            <td>{{i.CustomerName}} </td>
            <td>{{i.CustomerPAN}}</td>
            <td>{{i.Organization}}</td>
            <td>{{i.Contact}}</td>
            <td>{{i.UploadedDate}}</td>
            <td>{{i.Status}}</td>
            <td>{{i.UploadedDocuments}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
